/* Custom HP Font for Harry Potter header */
@font-face {
    font-family: harryPotterFont;
    src: url(../fonts/HARRYP__.TTF);
}

/* Body styling */
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
}

header > .high-score {
    align-self:flex-start;
    margin: 10px;
    padding: 10px;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

header > .timer {
    align-self: flex-end;
    margin: 15px;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

/* Highscores button styling */
.high-score a{
    color: black;
    text-decoration: none;
    border: 2.5px solid black;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-size: 16px;
}

.high-score a:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
    
}

/* Main wrapper styling */
main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 5% 25% 0% 25%;
}

/* Start screen section styling */
.start-screen > h1 {
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 25px;
}

.start-screen > #harry-potter {
    font-family: harryPotterFont;
    font-size: 100px;
    color: gold;
}

.start-screen > p {
    font-size: 16px;
    margin-bottom: 25px;
}

/* Start button styling */
#start {
    background-color: transparent;
    color: black;
    border: 2.5px solid black;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    font-weight: bold;
    text-transform: uppercase;
}

#start:hover {
    background-color: black;
    color: white;

}

/* Question title styling */
#question-title {
    font-size: 2vw;
    text-align: left;
    font-weight: bold;
}

/* End screen styling */
#end-screen > h2 {
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

#final-p {
    text-align: center;
    font-size: 20px;
    margin: 10px 0px 30px 0px;
}

#end-screen > p {
    font-size: 15px;
    text-align: center;
    margin: 10px 0px 30px 0px;
}

/* Submit button styling */
#submit {
    background-color: transparent;
    color: black;
    border: 2.5px solid black;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    transition: 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 5px;
}

#submit:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

/* This begins the CSS styling for highscores.html and JS styling*/

/* Leaderboard styling */
.leaderboard > h1 {
    text-align: left;
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Hides/Reveals Start and End Screens */
.hidden {
    display: none;
}

/* Choice class set in JS */
.choice {
    display: flex;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px 5px 10px 0px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    transition: 0.3s;
}

.choice:hover {
    background-color: black;
    color: white;
}

/* Right/Wrong message styling */
#right-wrong > p {
    text-align: left;
    font-size: 20px;
    color: gray;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
    font-style: italic;
}

.stored-scores {
    margin-bottom: 15px;
}

/* Go Back button styling */
.button-wrapper {
    align-items: center;
}

.go-back {
    background-color: transparent;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 2.5px solid black;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.go-back a {
    color: black;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
}

.go-back a:hover {
    color: white;
}

.go-back:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

/* Clear Leaderboard button styling */
.clear {
    background-color: transparent;
    color: black;
    border: 2.5px solid black;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    font-weight: bold;
    text-transform: uppercase;
}

.clear:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}

/* User score created in JS */
.user-score {
    color: black;
    text-align: left;
    font-size: 15px;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px;
    margin: 0px 0px 5px 0px;
}

.user-score:nth-child(even) {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 20px;
    padding: 10px;
}

.user-score:nth-child(odd) {
    background-color: rgb(224, 224, 224);
    color: black;
    border-radius: 20px;
    padding: 10px;
}